@textColorPrimary: #484848;
@textColorSecondary: #222;


:root{
    --primary-color : #FE9600;
}

// 首页字母动画
@keyframes glitch-loop-1 {
    0% {
        clip: rect(36px,9999px,9px,0)
    }

    25% {
        clip: rect(25px,9999px,99px,0)
    }

    50% {
        clip: rect(50px,9999px,102px,0)
    }

    75% {
        clip: rect(30px,9999px,92px,0)
    }

    100% {
        clip: rect(91px,9999px,98px,0)
    }
}

@keyframes glitch-loop-2 {
  0% {
      top: -1px;
      left: 1px;
      clip: rect(65px,9999px,119px,0)
  }

  25% {
      top: -6px;
      left: 4px;
      clip: rect(79px,9999px,19px,0)
  }

  50% {
      top: -3px;
      left: 2px;
      clip: rect(68px,9999px,11px,0)
  }

  75% {
      top: 0;
      left: -4px;
      clip: rect(95px,9999px,53px,0)
  }

  100% {
      top: -1px;
      left: -1px;
      clip: rect(31px,9999px,149px,0)
  }
}

// 旋转360° 
@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
} 
 // 动画 淡入淡出
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
// 文字滚动动画
@keyframes scroll-left {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}
// 图标变大
@keyframes toBig {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.05);
    }
}
// wave 背景图片变动
@keyframes backGroundGradient {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

// 背景图 从上往下移动
@keyframes bgMove {
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}